KERNELDIR_CFLAGS=
KERNELDIR_CPPFLAGS=
KERNELDIR_LDFLAGS=
KERNELDIR_LIBS=

KERNELDIR_OBJS=\
$(KERNELDIR)/drivers/kb.o \
$(KERNELDIR)/drivers/timer.o \
$(KERNELDIR)/memory/heap.o \
$(KERNELDIR)/memory/kheap.o \
$(KERNELDIR)/scheduling/multitasking.o \
$(KERNELDIR)/scheduling/process.o \
$(KERNELDIR)/screen/tty.o \
