KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/descriptor_tables/gdt.o \
$(ARCHDIR)/descriptor_tables/idt.o \
$(ARCHDIR)/descriptor_tables/isrs.o \
$(ARCHDIR)/descriptor_tables/irq.o \
$(ARCHDIR)/paging/paging.o \
$(ARCHDIR)/panic.o \
